@import '@/styles/vars';
@import '@/styles/mixin';

.control {
}
.header {
	margin: 0 20px 40px 20px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	&::after {
		content: '';
		height: 4px;
		background-color: $primary-base;
		position: absolute;
		left: -26px;
		right: -24px;
		bottom: -22px;
	}
	&__item {
		flex: 1 0 25%;
		padding: 15px;
		background-color: $primary-light-base;
		border: 2px solid $primary-base;
		border-left-width: 1px;
		border-right-width: 1px;
		transition: all 0.3s ease;
		&_active {
			background-color: $primary-light-sm;
			color: $select-base;
		}
		&:hover {
			background-color: $primary-light-sm;
		}
	}
	&__item:first-child {
		border-left-width: 2px;
	}
	&__item:last-child {
		border-right-width: 2px;
	}
	&__title {
		@include unselectable;
		font-size: 24px;
	}
}
.list {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	&__container {
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		border: 2px solid $primary-base;
		background-color: $primary-light-base;
	}
	&__row {
		display: flex;
		&_wrap {
			flex-wrap: wrap;
		}
		&_buttons {
			padding: 15px;
			justify-content: center;
			gap: 80px;
		}
		@media (max-width: 1200px) {
			display: grid;
			grid-template: 1fr/ 1fr;
		}
	}
	&__row:not(:last-child) {
		border-bottom: 2px solid $primary-base;
	}
	&__item {
		padding: 5px;
		flex: 0 0 25%;
		display: flex;
		align-items: center;
		gap: 10px;
		@media (max-width: 1200px) {
			border: none !important;
			flex-wrap: wrap;
			height: fit-content;
			border: 1px solid $primary-base !important;
			border-left: none !important;
			border-right: none !important;
		}
		&_double {
			flex: 1 0 50%;
			gap: 15px;
		}
		&_third {
			padding: 0;
			flex: 1 0 33%;
			gap: 10px;
		}
		&_full {
			flex: 1 1 100%;
		}
		&_header {
			flex: 1 0 100%;
			justify-content: center;
		}
	}
	&__item:not(:last-child) {
		border-right: 2px solid $primary-base;
	}
	&__item_third:nth-child(3n) {
		border-right: none;
	}
	&__caption {
		font-size: 20px;
		color: $select-light-sm;
		@media (max-width: 1200px) {
			border: none !important;
			width: 100%;
			text-align: center;
		}
		&_subtitle {
			font-size: 28px;
		}
		&_center {
			width: 100%;
			text-align: center;
			@media (max-width: 1200px) {
				padding: 10px;
				word-break: break-all;
				border-bottom: 2px solid $primary-base !important;
			}
		}
		&_third {
			padding: 5px;
			height: 100%;
			min-width: 140px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 2px solid $primary-base;
		}
		&_third_mob {
			@media (max-width: 1200px) {
				border: 2px solid $primary-base !important;
				border-left: none !important;
				border-right: none !important;
				width: 100%;
			}
		}
	}
	&__value {
		font-size: 24px;
		white-space: pre-wrap;
		@media (max-width: 1200px) {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		&_header {
			font-size: 32px;
			color: $select-dark-base;
		}
		&_third {
			padding: 5px;
			font-size: 20px;
			@media (max-width: 1200px) {
				width: 100%;
			}
		}
	}
	&__btn {
		min-width: 150px;
		font-size: 22px;
		padding: 7px 30px;
		color: $select-light-sm;
		border: 2px solid $select-light-sm;
		border-radius: 20px;
		background-color: $primary-light-sm;
		opacity: 0.9;
		transition: all 0.3s ease;
		&:hover {
			opacity: 1;
			background-color: $primary-light-xs;
		}
	}
}
.auth {
	margin: 50px auto;
	width: fit-content;
	display: flex;
	justify-content: center;
	border: 2px solid $primary-base;
	&__title {
		font-size: 32px;
		display: flex;
		justify-content: center;
	}
	&__label {
		padding: 15px 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		input {
			padding: 5px;
			width: 500px;
			font-size: 24px;
			border: 2px solid $primary-base;
		}
	}
	&__button {
		padding: 10px 30px;
		margin: 10px auto;
		width: fit-content;
		display: flex;
		justify-content: center;
		background-color: $primary-light-sm;
		border: 2px solid $primary-base;
		color: $select-base;
		font-size: 24px;
		transition: all 0.3s ease;
		&:hover {
			border-color: $select-base;
		}
	}
}
