$white: #fff;
$black: #000;
$gray: #333333;

$primary-base: #f58b00;
$select: #472901;
$additional-base: #fffdfa;
$additional-light-base: lighten($additional-base, 10%);
$additional-dark-base: darken($additional-base, 30%);
